
<p><img class="headingdecoration" src="/images/heading-decoration.png" /><strong>Felwig Studios</strong> is a small game development team based in the UK.  We are hard at work on our new project, <emph>Star Life</emph>.</p>

<p><emph>Star Life</emph> is an adventure platformer set in a constellation of planets.  Join our hero as she jumps in her spaceship and heads off around her galaxy to find out why her star is dying. The game moves seamlessly from a 360 degree space shooter to a platform game on and within each planet.</p>

{% include mailinglist.html %}
