
<p><img class="headingdecoration" src="/images/heading-decoration.png" /><strong>Felwig Studios</strong> is a small game development team based in the UK.  We are hard at work on our new project, <emph>Last Orbit</emph>.</p>

<p><emph>Last Orbit</emph> is an adventure platformer set in a constellation of planets.  Join our hero as he jumps in his spaceship and heads off around his galaxy to find out why his star is dying. The game moves seamlessly from a 360 degree space shooter to a platform game on and within each planet.</p>

{% include mailinglist.html %}
