<p><strong>Felwig software</strong> is a small indie studio.  We have been inactive for some time, but now we are hard at work once again on our new project.</p>

<p>Codenamed <emph>fork</emph> for now, it is an adventure platformer set in a constellation of planets.  Join our hero as he jumps in his spaceship and heads off around his galaxy to find out why his star is dying. The game moves seamlessly from a 360 degree space shooter to a platform game as you land your ship on a planet and set off exploring.</p>
