{% if site.analytics %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ site.analytics }}']);
_gaq.push(['_setDomainName', 'felwig.com']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


var downloadLink = document.getElementById('mailingListButton');
    addListener(downloadLink, 'click', function() {
            ga('send', 'event', 'button', 'click', 'mailingListSignup');
            });
            
            
            /**
             * Utility to wrap the different behaviors between W3C-compliant browsers
             * and IE when adding event handlers.
             *
             * @param {Object} element Object on which to attach the event listener.
             * @param {string} type A string representing the event type to listen for
             *     (e.g. load, click, etc.).
             * @param {function()} callback The function that receives the notification.
             */
function addListener(element, type, callback) {
    if (element.addEventListener) element.addEventListener(type, callback);
    else if (element.attachEvent) element.attachEvent('on' + type, callback);
}



</script>

{% endif %}
