
<section class="content">
    <div class="row">
        <div class="col-offset-2 col-span-8 titlebox frontpagevflow">
            <img src="/images/logo.png" class="logo">
        </div>

        <div class="col-offset-2 col-span-8 frontpagevflow">
            <div class="ipadvideocontainer">
                <iframe src="https://www.youtube.com/embed/UayL-9E1Yyw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-offset-2 col-span-8 infobox frontpagevflow">
            <div class="featurerow">
                <img src="/images/6-windmill.png" class="leftimage" alt="Momoka">
                <p>
                    Control Momoka as she hops and flies across her solar system to discover why her star is dying in this 2.5D platforming adventure game.
                </p>
            </div>

            <div class="featurerow">
                <img src="/images/6-ember.png" class="rightimage" alt="Momoka">
                <p>
                    Gameplay switches seamlessly from a platforming shooter within and between each of the planets, to exploration of the large planetary system in Momoka's spaceship.
                </p>
            </div>

            <div class="featurerow">
                <img src="/images/6-mayor.png" class="leftimage" alt="Momoka">
                <p>
                    Meet and interact with a varied cast of characters during your exploration of Haruto.
                </p>
            </div>

            <div class="featurerow">
                <img src="/images/6-flying.png" class="rightimage" alt="Momoka">
                <p>
                    Explore the Galaxy in your own way in this nonlinear adventure.
                </p>
            </div>

            <div class="featurerow">
                <img src="/images/6-pickup.png" class="leftimage" alt="Momoka">
                <p>
                    Discover upgrades and items during your adventure and use them to upgrade your character
                </p>
            </div>
        </div>
    </div>


</section>
