<section class="content">
    <div class="socialbuttons">
        <a href="/press.html"><i class="fa fa-newspaper-o fa-2x"></i></a>
        <a href="https://www.facebook.com/MomokaGame"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="mailto:felwig@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
    </div>

    <div class="appstoreicon">
        <a href="https://itunes.apple.com/app/momoka-interplanetary-adventure/id1059879206?ls=1&mt=8"><img src="/images/appstorebadge.png" class="appstorebadge"/></a>
    </div>

    <div class="row">
        <div class="col-offset-2 col-span-8 titlebox frontpagevflow">
            <img src="/images/logo.png" class="logo">
        </div>

        <div class="col-offset-2 col-span-8 frontpagevflow">
            <div class="ipadvideocontainer">
                <iframe src="https://www.youtube.com/embed/LAblPgQTz2g" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-offset-2 col-span-8 infobox frontpagevflow">
            <div class="featurerow">
                <a href="/images/6-windmill.png" class="leftimage">
          	  		<img src="/images/thumbs/6-windmill-thumb.png" class="featureimage" alt="Momoka">
          	  	</a>
                <p>
                    Control Momoka as she hops and flies across her solar system to discover why her star is dying in this 2.5D platforming adventure game.
                </p>
            </div>

            <div class="featurerow">
                <a href="/images/6-ember.png" class="rightimage">
          	  		<img src="/images/thumbs/6-ember-thumb.png" class="featureimage" alt="Momoka">
          	  	</a>
                <p>
                    Gameplay switches seamlessly from a platforming shooter within and between each of the planets, to exploration of the large planetary system in Momoka's spaceship.
                </p>
            </div>

            <div class="featurerow">
                <a href="/images/6-mayor.png" class="leftimage">
          	  		<img src="/images/thumbs/6-mayor-thumb.png" class="featureimage" alt="Momoka">
          	  	</a>
                <p>
                    Meet and interact with a varied cast of characters during your exploration of Haruto.
                </p>
            </div>

            <div class="featurerow">
                <a href="/images/6-flying.png" class="rightimage">
          	  		<img src="/images/thumbs/6-flying-thumb.png" class="featureimage" alt="Momoka">
          	  	</a>
                <p>
                    Explore the Galaxy in your own way in this nonlinear adventure.
                </p>
                <p>
                    Pay once and play, there are no IAPs and there never will be.
                </p>
            </div>

            <div class="featurerow">
                <a href="/images/6-pickup.png" class="leftimage">
          	  		<img src="/images/thumbs/6-pickup-thumb.png" class="featureimage" alt="Momoka">
          	  	</a>
                <p>
                    Discover upgrades and items during your adventure and use them to upgrade your character
                </p>
                <p>
                    Main theme by <a href="http://www.kalleylitalo.com/">Kalle Ylitalo</a>.
                </p></div>
        </div>
    </div>


</section>
