
<section class="content">
    <div class="row">
        <div class="col-offset-2 col-span-8 titlebox frontpagevflow">
            <h1>Momoka</h1>
            <h2>An interplanetary adventure</h2>
        </div>

        <div class="col-offset-2 col-span-8 frontpagevflow">
            <div class="ipadvideocontainer">
                <iframe src="https://www.youtube.com/embed/UayL-9E1Yyw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-offset-2 col-span-8 infobox frontpagevflow">
            <div class="row">
                <div class="col-span-6">
                    <img src="/images/6-windmill.png" class="img-thumbnail" alt="Momoka">
                </div>
                <div class="col-span-6 vcentre">
                    <p>
                        Control Momoka as she hops and flies across her solar system to discover why her star is dying in this 2.5D platforming adventure game.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-span-6 vcentre">
                    <p>
                        Gameplay switches seamlessly from a platforming shooter within and between each of the planets, to exploration of the large planetary system in Momoka's spaceship.
                    </p>
                </div>
                <div class="col-span-6">
                    <img src="/images/6-ember.png" class="img-thumbnail" alt="Momoka">
                </div>
            </div>

            <div class="row">
                <div class="col-span-6">
                    <img src="/images/6-mayor.png" class="img-thumbnail" alt="Momoka">
                </div>
                <div class="col-span-6 vcentre">
                    <p>
                        Meet and interact with a varied cast of characters during your exploration of Haruto.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-span-6">
                    <p>
                        Explore the Galaxy in your own way in this nonlinear adventure.
                    </p>
                </div>
                <div class="col-span-6">
                    <img src="/images/6-flying.png" class="img-thumbnail" alt="Momoka">
                </div>
            </div>

            <div class="row">
                <div class="col-span-6">
                    <img src="/images/6-pickup.png" class="img-thumbnail" alt="Momoka">
                </div>
                <div class="col-span-6">
                    <p>
                        Discover upgrades and items during your adventure and use them to upgrade your character
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
