<div class="container presskit">
    <div class="row pressheader">
        <div class="col-span-6">
            <div class="row">
                <h3 id="site">Site</h3>
                <p><a href="https://felwig.com">felwig.com</a></p>

                <h3 id="developer">Developer</h3>
                <p>Felwig Games</p>

                <h3 id="release-date">Release date</h3>
                <p>Early 2016</p>
            </div>
        </div>
        <div class="col-span-6">
            <div class="row">
                <h3 id="contact"> Contact</h3>
                <p><a href="mailto:felwig@gmail.com">felwig@gmail.com</a></p>

                <h3 id="platform">Platforms</h3>
                <p>iOS, Steam greenlight coming</p>

                <h3 id="price">Price</h3>
                <p>TBA</p>
            </div>
        </div>
    </div>


    <h3 id="description">Description</h3>
    <p>Control Momoka as she hops and flies across her solar system to discover why her star is dying in this 2.5D platforming adventure game.

    Gameplay switches seamlessly from a platforming shooter within and between each of the planets, to exploration of the large planetary system using her spaceship. You will meet many characters, collect upgrades, and battle fearsome enemies as you explore Haruto to find out why its sun is dying, and how you will fix it.
    </p>

    <h3 id="tech">Tech</h3>
    <p>Momoka is written for iOS, supporting iPhone, iPad, Apple TV.</p>
    <p>Momoka supports Game Centre, iCloud game syncing, MFi Game Controllers.</p>

    <h3 id="background">Background</h3>

    <p>
        The intention with Momoka is to write a thoroughly modern, high quality exploration &amp; adventure game for iOS.
        Momoka blends the depth and exploration of games like Zelda &amp; Metroid with the great platforming action, slickness and beautiful presentation expected on iOS.
        This style of gameplay fits iOS well, for although the story is immersive and detailed it allows the game to be played in short bursts by casual gamers if required.
    </p>

    <p>
        Unique to Momoka is that the action takes place on round planets, which our heroine can move between by jumping in a rocket and taking off.
        The majority of the gameplay is shooter-style platforming, but jump in the ship, the camera will zoom out, and you can fly around Haruto in Momoka's rocket.
        This has allowed us to seamslessly blend exploration and platforming into one game.
    </p>

    <p>
        The 2.5D approach keeps the controls simple, sharp and iOS appropriate by restricting the mechanics to that of a platformer, whilst still giving players the beautiful and cutting edge experience they have come to expect from the best of iOS games.
    </p>

    <h3 id="videos">Videos</h3>
    <div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UayL-9E1Yyw" frameborder="0" allowfullscreen></iframe>
    </div><p class="caption">Trailer</p>
    <h3 id="images">Images</h3>
    <div class="figure">
    <img src="/images/5-bookofice.png" alt="Momoka in a cave" /><p class="caption">Momoka exploring a cave</p>
    </div>
    <div class="figure">
    <img src="/images/5-mayor.png" alt="Mayor" /><p class="caption">Talking to the mayor</p>
    </div>
    <div class="figure">
    <img src="/images/5-iceblocks.png" alt="Maze" /><p class="caption">Platforming through Ember - an ice level</p>
    </div>

</div>
