<div class="row">
  	<h1 class="thin">SCREENSHOTS</h1>
</div>
<section class="screenshots">
<div class="row">
  	<div class="col-span-4 next">
  		<a href="/images/1-shooting.png">
  			<img src="/images/1-shooting.png" class="img-thumbnail" alt="Last Orbit!">
  		</a>
  	</div>
  	<div class="col-span-4 next">
  		<a href="/images/1-landing.png">
  	  		<img src="/images/1-landing.png" class="img-thumbnail" alt="Last Orbit!">
  	  	</a>
  	</div>
  	<div class="col-span-4 next">
  		<a href="/images/1-asteroids.png">
  	  		<img src="/images/1-asteroids.png" class="img-thumbnail" alt="Last Orbit!">
  	  	</a>
  	</div>
</div>
<div class="row">
  	<div class="col-span-4 next">
  		<a href="/images/1-chat.png">
  			<img src="/images/1-chat.png" class="img-thumbnail" alt="Last Orbit!">
  		</a>
  	</div>
  	<div class="col-span-4 next">
  		<a href="/images/1-ice.png">
  	  		<img src="/images/1-ice.png" class="img-thumbnail" alt="Last Orbit!">
  	  	</a>
  	</div>
  	<div class="col-span-4 next">
  		<a href="/images/1-landed.png">
  	  		<img src="/images/1-landed.png" class="img-thumbnail" alt="Last Orbit!">
  	  	</a>
  	</div>
</div>
</section>