<div class="row">
  	<h1 class="thin">SCREENSHOTS</h1>
</div>
<section class="screenshots">
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/5-bookofice.png">
  			<img src="/images/thumbs/5-bookofice-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/5-mayor.png">
  	  		<img src="/images/thumbs/5-mayor-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/5-hermitboss.png">
  			<img src="/images/thumbs/5-hermitboss-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/5-dyson.png">
  	  		<img src="/images/thumbs/5-dyson-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/5-oldman.png">
  			<img src="/images/thumbs/5-oldman-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/5-mines.png">
  	  		<img src="/images/thumbs/5-mines-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/5-prison.png">
  			<img src="/images/thumbs/5-prison-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/5-iceblocks.png">
  	  		<img src="/images/thumbs/5-iceblocks-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
</section>
