<div class="row">
  	<h1 class="thin">SCREENSHOTS</h1>
</div>
<section class="screenshots">
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/2-forest.png">
  			<img src="/images/thumbs/2-forest-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/2-generator.png">
  	  		<img src="/images/thumbs/2-generator-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
<div class="row">
  	<div class="col-span-6 next">
  		<a href="/images/2-maze.png">
  			<img src="/images/thumbs/2-maze-thumb.png" class="img-thumbnail" alt="Momoka">
  		</a>
  	</div>
  	<div class="col-span-6 next">
  		<a href="/images/2-robots.png">
  	  		<img src="/images/thumbs/2-robots-thumb.png" class="img-thumbnail" alt="Momoka">
  	  	</a>
  	</div>
</div>
</section>
