/*
    felwig scss goes here
 */

// up theme
@import 'up';

$readingFont: "Merriweather", Times, serif;
$readingColour: #444;
$headingColour: #333;

$themeFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-family: $themeFont;
    font-size: 16px;
    line-height: 1.5;
    color: $headingColour;
}

p {
    color: $readingColour;
}


.presskit {
    h3 {
        border: none;
        margin-left: 0;
        padding-left: 0;
    }

    p {
        margin-left: 5px;
    }

    .pressheader {
        h3 {

        }

        p {

        }
    }
}

.post-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .post-body {
        p {
            font-family: $readingFont;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.75;
            letter-spacing: 0.03px;
        }
    }

    h1 {
        .twitter-share-button {
            float: right;
        }
    }
}


.abstract-box, .error-box{
    margin-top: 50px;
    font-family: $readingFont;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.03px;
    background-color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    p {
        color: #eee;
    }
    padding: 30px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #999;
}

.vcentre {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

body.mainsite{
    background: url("/images/background.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a{
        color: #eee;
    }
}

body.post{

    background-color:#fff
}

.blog-area{
    margin-top: 100px;
    background-color: #333;
    overflow: visible;
    padding-left: 80px;
    padding-right: 80px;
}


#footer section.meta {
    padding: 30px;
    color: #999;
    text-align: center;
}
#footer section.meta a {
    align: center;
    font-size: .8em;
    color: #999;
    text-decoration: none;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
}
#footer section.meta a:hover {
    color: #307ea9;
}
#footer i.icon {
    display: block;
    margin: auto;
}

/*
    Front page video data
 */

$bgimagewidth: 900px;
$bgimageheight: 444px;
$bgimagehpad: 100px;
$bgimagevpad: 30px;
$vidaspect: 16.0 / 9.0;

// calculated
$framewidth: $bgimagewidth - 2 * $bgimagehpad;
$frameheight: $bgimageheight - 2 * $bgimagevpad;
$vidheight: $framewidth / $vidaspect;
$vidhadjust: 0.5 * ($frameheight - $vidheight);

@function fk-hscale($dima){
  @return percentage($dima / $bgimagewidth);
}

@function fk-vscale($dima){
  @return percentage($dima / $bgimageheight);
}

.ipadvideocontainer {
    position: relative;
    background-image: url("/images/iphone6plus.png");

    background-size: 100%;
    background-color: transparent;

    width: 100%;

    padding: 0px;
    padding-bottom: percentage($bgimageheight / $bgimagewidth);

    box-sizing: border-box;
    position: relative;

    iframe {
        position: absolute;
        top: fk-vscale($bgimagevpad + $vidhadjust);
        left: fk-hscale($bgimagehpad);
        width: fk-hscale($framewidth);
        height: fk-vscale($vidheight);
    }
}



.infobox {
    img {
        width: 100%
    }
}
