/*
    felwig scss goes here
 */

// up theme
@import 'up';

$readingFont: "Merriweather", Times, serif;
$readingColour: #444;
$headingColour: #333;

$themeFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-family: $themeFont;
    font-size: 16px;
    line-height: 1.5;
    color: $headingColour;
}


p {
    color: $readingColour;
}

.post-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .post-body {
        p {
            font-family: $readingFont;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.75;
            letter-spacing: 0.03px;
        }
    }

    h1 {
        .twitter-share-button {
            float: right;
        }
    }
}


.abstract-box, .error-box{
    margin-top: 50px;
    font-family: $readingFont;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.03px;
    background-color: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    p {
        color: #eee;
    }
    padding: 30px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #999;
}



body.mainsite{
    background: url("/images/background.png") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a{
        color: #eee;
    }
}

body.post{

    background-color:#fff
}

.blog-area{
    margin-top: 100px;
    background-color: #333;
    overflow: visible;
    padding-left: 80px;
    padding-right: 80px;
}


#footer section.meta {
    padding: 30px;
    color: #999;
    text-align: center;
}
#footer section.meta a {
    align: center;
    font-size: .8em;
    color: #999;
    text-decoration: none;
    transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
}
#footer section.meta a:hover {
    color: #307ea9;
}
#footer i.icon {
    display: block;
    margin: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


