/*
    felwig scss goes here
 */

// up theme
@import 'up';

$readingFont: "Merriweather", Times, serif;
$readingColour: #444;
$headingColour: #333;

$themeFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-family: $themeFont;
    font-size: 16px;
    line-height: 1.5;
    color: $headingColour;
}

p {
    color: $readingColour;
}

.post-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .post-body {
        p {
            font-family: $readingFont;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.75;
            letter-spacing: 0.03px;
        }
    }

    h1 {
        .twitter-share-button {
            float: right;
        }
    }
}
